{% extends "elections/base.html" %}
{% load static %}
{% block content %}
  <!-- Banner -->
  <section class="mb-4">
    <img src="{% static "elections/img/banner.jpg" %}"
         alt="PUP Banner"
         width=""
         height=""
         class="img-fluid"/>
  </section>
  <!-- Information Section -->
  <section class="container mb-4">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
             role="alert">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <h1 class="text-center mb-3">PUPians, cast your votes!</h1>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card shadow h-100">
          <div class="card-body">
            {% if current_election_season %}
              <h2 class="h3">How do I vote?</h2>
              <p class="text-success">
                PUPSC Elections
                {{ current_election_season }} |
                {{ current_election_season.status }}
              </p>
              {% if not has_already_voted %}
                <a href="{% url "elections:vote_step_first" %}"
                   class="btn btn-sm btn-primary">Vote</a>
              {% else %}
                <p class="text-primary">You have already voted for this election.</p>
              {% endif %}
              <hr/>
              <h3 class="h4">Online Procedure</h3>
              <ol>
                {# TODO: Don't show login button when logged in. #}
                <li>
                  Login to your <b>Microsoft Webmail account</b> using
                  the link on the heading of this page.
                </li>
                <li>Select your preferred candidates.</li>
                <li>Click "Finalize" and confirm your votes.</li>
                <li>Download your PDF receipt.</li>
              </ol>
              <h3 class="h4">I don't trust this app</h3>
              <p>
                Head to the designated room for your college
                and vote there.
              </p>
            {% else %}
              <h2 class="h3">How do I vote?</h2>
              <p class="text-danger">There is no ongoing election.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
