[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-jsoneditor = "*"
python-dotenv = "*"
social-auth-app-django = "*"
django-grappelli = "*"
django-widget-tweaks = "*"

[dev-packages]
autopep8 = "*"
djlint = "*"

[requires]
python_version = "3.10"
