<footer class="bg-dark text-light py-4">
  <section class="container-fluid">
    <div class="row g-4 d-flex justify-content-center">
      <div class="col-8 col-md-3">
        <h5>About the PUP Student Council</h5>
        <hr/>
        <p>
          The Polytechnic University of the Philippines Student Council (PUP SC)
          is the official undergraduate student union and collective student
          representative body of the Polytechnic University of the Philippines
          Manila campuses. It represents the interests of the students on the
          university, national, and global issues. 
        </p>
      </div>
      <div class="col-8 col-md-3">
        <h5>PUP Address </h5>
        <hr/>
        <p>
          1016 Anonas<br/> Santa Mesa, Manila<br/> NCR, Philippines
        </p>
      </div>
      <div class="col-8 col-md-3">
        <h5>Having Problems?</h5>
        <hr/>
        <p>Reach out to the Commission on Elections on:</p>
        <a href = "mailto: abc@example.com" class="link-light">example@sample.com</a>
        <p> 09123456789</p>
        <p> <i class="fa-brands fa-facebook-messenger"></i> </p>
        
      </div>
      
    </div>
  </section>
</footer>
