<footer class="bg-dark text-light py-4">
    <section class="container-fluid">
        <div class="row g-4 d-flex justify-content-center">
            <div class="col-8 col-md-3">
                <h5>About the PUP Student Council</h5>
                <hr/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed eget nibh id diam pretium pulvinar.
                    Nulla feugiat lorem id rutrum maximus.
                    Integer nibh velit, euismod eu venenatis at, viverra quis risus.
                </p>
            </div>
            <div class="col-8 col-md-3">
                <h5>Having Problems?</h5>
                <hr/>
                <p>
                    Reach out to the Commission on Elections.
                </p>
            </div>
        </div>
    </section>
</footer>
